<!DOCTYPE html>
<html lang="en">
<head>
	<!-- set viewport to device width to make site responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- custom styles -->
	<link rel="stylesheet" type="text/css" href="/main.css">
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<div class="row">
		<div class="col-xs-3">
			<center>
			<div class="row"  id="votes_list">
				<p id="votes_list_a"><b>Aye Votes:</b> </p>
				<p id="votes_list_b"><b>No Votes:</b> </p>
				<p id="votes_list_c"><b>Abstain Votes:</b> </p>
				<p id="votes_list_d"><b>Total Votes:</b> </p>
				<a href="https://www.govtrack.us/congress/votes/114-2015/h643"<p>More Info</p></a>
			</div>
			</center>
		</div>

		<div class="col-xs-9">
			<div id="usMap"></div>
		</div>
	</div>
	

	<!-- plotly -->
	<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	
	<!-- jquery -->
  	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  	<!-- bootstrap js -->
  	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  	<!-- handlebars -->
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
  	<!-- jquery file -->
  	<script type="text/javascript" src="/script.js"></script>
	
</body>
</html>